@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.p{
    text-align: center;
    padding: 6%;
    font-family: 'Poppins', sans-serif;
}
.container{
    
    width: 850px;
    border: 5px  solid black;
    padding: 10px;
    margin-top: 200px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    display: block;
    box-shadow: 5px 3px 10px #cfcccc;
    border: none;
    
}
.fit{
    width: -moz-fit-content;
}
.header{
    width: 1000px;
    height: 100px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}
.decoration{
    text-decoration: underline;

}
.number{
    list-style-type:none;
}
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15rem;
  padding: 5px 20vh;
  border: 1px solid black;
  margin-top: 30px;
  text-align: center;
  box-shadow: 5px 3px 10px #cfcccc;
  border: none;
  background: linear-gradient(#FF9C60,#FFD6B8);
}
.footer ul{
        display: flex;
        list-style: none;
        margin-bottom: 20px;
        margin-top: 20px;
}
.footer ul li{
    margin-left: 10px;
}
.footer ul a{
    margin-left: 10px; 
    font-size: 15px;
    font-weight: bold;
}
.footer ul a:hover{
    color: #ffff;
}
.fa{
  padding: 25px;
  padding-right: 25px;
  padding-left: 20px;
font-size: 30px;
border-radius: 80px;
height: 10px;
width: 10px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
margin-left: 20px;
cursor: pointer;
  
}
a {
  background-image: linear-gradient(
    to right,
    #e8e4e0,
    #e1dbd5 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.box{
  width: 100%;
  height: 60vh;
  padding-top: 30vh;
  background-image: linear-gradient(#000000c3,#000000c3),url(./pexels-pixabay-267885.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}
.box h1{
  margin-bottom: 20px;
  word-spacing: 5px;
  text-align: center;
}
.box p{
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-align: center;
}
a:before{
  content: '';
  background: #e8e7e5;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: rgb(10, 7, 7);
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }